In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv ('data/us_stocks.csv')

In [5]:
df

       1  1871       100.00
0      2  1871       101.87
1      3  1871       104.87
2      4  1871       108.45
3      5  1871       111.47
4      6  1871       111.08
...   ..   ...          ...
1806   8  2021  51590385.17
1807   9  2021  49190948.10
1808  10  2021  52590042.61
1809  11  2021  52153545.26
1810  12  2021  54427439.83

[1811 rows x 3 columns]